/* GENERAL STYLES FOR HTML FILES */

/* ============================================================
   1. RESET
   ============================================================ */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main,
section,
header,
footer,
form,
fieldset,
img,
input,
button,
p,
h1 {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

fieldset {
  padding: 0;
  border: 0;
}

/* ============================================================
   2. TYPOGRAPHY + VARIABLES
   ============================================================ */

@font-face {
  font-family: "SometypeMono";
  src: url("./fonts/static/SometypeMono-SemiBold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --dark: hsl(200, 15%, 8%);
  --dark2: hsl(200, 15%, 10%);
  --dark3: hsl(200, 15%, 12%);
  --main-txt: hsl(205, 5%, 75%);
  --second-txt: hsl(205, 5%, 65%);
  --border-soft: hsl(200, 20%, 7%);
  --green: hsl(100, 35%, 52%);
  --red: hsl(0, 65%, 45%);
  --font-main: "SometypeMono", sans-serif;
  font-size: 12px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  background-image: url("./assets/background.png");
  background-position: 0 60%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--second-txt);
  font-family: var(--font-main);
}

/* ============================================================
   3. LAYOUT
   ============================================================ */

.login-wrap {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2rem;
  border-right: 0.5rem solid var(--border-soft);
  background-color: var(--dark);
}

.login-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
  height: 100%;
  padding-left: 2rem;
  border-left: 0.2rem solid white;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
}

.frame-footer p:nth-child(2) {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 0.2rem solid var(--dark3);
}

.frame-footer p {
  font-size: 1rem;
}

.frame-footer {
  margin-top: 3rem;
}

/* ============================================================
   4. TYPOGRAPHY
   ============================================================ */

.vardheim-logo {
  width: 25rem;
  height: auto;
  justify-self: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.5rem;
  color: var(--main-txt);
}

p {
  font-size: 1.2rem;
  color: var(--second-txt);
}

.status {
  color: var(--green);
}